<div class="mb-3">
  <span class="label">{{label}} :</span>
  {{#if formatAsLink}}
  <span><a href="{{value}}" target="_blank" rel="noreferrer">{{value}}</a></span>
  {{else if formatAsImage}}
  <span><img src="https://cdn.openagenda.com/main/{{value.filename}}" /></span>
  {{else if formatAsFile}}
  <span><a href="https://cdn.openagenda.com/main/{{value.filename}}">{{value.originalName}}</a></span>
  {{else if formatAsMarkdown}}
  <span>{{{mdToHtml formatted}}}</span>
  {{else}}
  <span>{{formatted}}</span>
  {{/if}}
</div>
