<div class="col-12 px-0 my-3 event-list-item {{#if @root.styles.noShadows}}ns-event-border{{else}}shadow{{/if}}">
  <a
    class="event-item grid"
    {{#if isPreview}}
    data-event-slug="{{slug}}"
    href="{{linkWithoutContext}}"
    {{slug}}
    {{else}}
      href="{{link}}"
    {{/if}}>
    {{#if image.filename}}
      <div class="text-center img-container">
        <img 
          class="img-fluid img-cover-event-col"
          src="https://img.openagenda.com/u/700x0/cibul/{{image.filename}}"
          sizes="(max-width: 575px) calc(100vw - 30px),
          (max-width: 767px) 351px,
          425px"
          srcset="https://img.openagenda.com/u/351x0/cibul/{{image.filename}} 351w,
            https://img.openagenda.com/u/425x0/cibul/{{image.filename}} 425w,
            https://img.openagenda.com/u/545x0/cibul/{{image.filename}} 545w,
            https://img.openagenda.com/u/702x0/cibul/{{image.filename}} 702w,
            https://img.openagenda.com/u/850x0/cibul/{{image.filename}} 850w,
            https://img.openagenda.com/u/1090x0/cibul/{{image.filename}} 1090w,
            https://img.openagenda.com/u/1050x0/cibul/{{image.filename}} 1050w,
            https://img.openagenda.com/u/1275x0/cibul/{{image.filename}} 1275w,
            https://img.openagenda.com/u/1635x0/cibul/{{image.filename}} 1635w"
          alt="{{event.description}}"
          height="auto"
        />
      </div>
    {{else}}
      {{#if defaultImage}}
        <div class="text-center img-container">
        <img 
          class="img-fluid img-cover-event-col"
          src="../{{defaultImage}}"
          alt="{{event.description}}"
          height="auto"
        />
      </div>
      {{else}}
        <div class="text-center img-cover-event-empty">
        </div>
      {{/if}}
    {{/if}}
    {{#if featured}}
    <div class="featured">
      <p class="featured-text">À la une</p>
    </div>
    {{/if}}
    {{#if @root.styles.list.displayCategory}}
    <div class="category">
      <p class="category-text">{{extractCategory}}</p>
    </div>
    {{/if}}
      <div class="wbg px-4 py-3 text-event-cover-col top-border">
        <div class='event-cover-row'>
          <p class="date primary-color">{{dateRange}}</p>
          {{#if @root.styles.list.displayDescription}}
            <h5 class='event-title-bold mb-md-3'>{{title}}</h5>
            <p class="event-description">{{description}}</p>
          {{else}}
            <h5 class='event-title mb-md-3'>{{title}}</h5>
          {{/if}}
          <div class="event-more">
            {{#if @root.styles.list.more}}
              <p class="m-0">{{extractMoreLabel}} {{extractMore}}</p> 
            {{else}}
            {{/if}}
          </div>
          <div class="event-location">
            {{#if @root.styles.list.defineLocation}}
              <p class="m-0">{{extractLocationLabel}} {{extractLocation}}</p> 
            {{else}}
            <p class="m-0">{{location.name}}, {{location.city}}</p> 
            {{/if}}
          </div>
        </div>
      </div>
    <script type="application/ld+json">
    {{{JSONLD}}}
    </script>
  </a>
</div>
