<div class="col-12 my-3 event-list-item {{#if @root.styles.noShadows}}ns-event-border{{else}}shadow{{/if}}">
  <a
    class="row event-item line"
    {{#if isPreview}}
    data-event-slug="{{slug}}"
    href="{{linkWithoutContext}}"
    {{slug}}
    {{else}}
      href="{{link}}"
    {{/if}}>
    {{#if fullImage}}
      <div class="col-3 p-0 img-container">
        {{#if @root.styles.useSrcSetImages}}
        <img 
          class="img-fluid"
          src="https://img.openagenda.com/u/700x0/cibul/{{fullImage}}"
          sizes="(max-width: 492px) 114px,
          (max-width: 751px) 179px,
          (max-width: 973px) 235px,
          363px"
          srcset="
            https://img.openagenda.com/u/726x0/cibul/{{fullImage}} 726w,
            https://img.openagenda.com/u/1146x0/cibul/{{fullImage}} 1146w,
            https://img.openagenda.com/u/1506x0/cibul/{{fullImage}} 1506w"
          alt="{{description}}"
          height="auto"
        />
        {{else}}
        <img
          src="https://cibul.s3.amazonaws.com/{{fullImage}}"
          height="auto"
          alt="{{description}}"
        />
        {{/if}}
      </div>
    {{else}}
      {{#if defaultImage}}
        <div class="col-3 p-0 img-container">
          <img 
            class="img-fluid"
            src="../{{defaultImage}}"
            height="auto"
          />
        </div>
      {{else}}
        <div class="col-3 img-cover-event-line-empty">
        </div>
      {{/if}}
    {{/if}}
    {{#unless @root.config.featured.featuredSection}}
      {{#if featured}}
      <div class="featured">
        <p class="featured-text">À la une</p>
      </div>
      {{/if}}
    {{/unless}}
    {{#if @root.styles.list.displayCategory}}
      {{#if extractCategory}}
        <div class="category category-line">
          <p class="category-text">{{extractCategory}}</p>
        </div>
      {{/if}}
    {{/if}}
      <div class="col-9 wbg px-4 py-3 text-event-cover-col">
        <div class='event-cover-row'>
          {{#if @root.config.displayDate}}
          {{else}}
            <p class="date primary-color">{{dateRange}}</p>
          {{/if}}
          {{#if @root.styles.list.displayDescription}}
            <h5 class='event-title-bold mb-md-3'>{{title}}</h5>
            <p class="event-description">{{description}}</p>
          {{else}}
            <h5 class='event-title mb-md-3'>{{title}}</h5>
          {{/if}}
          {{#if age}}
            {{#if @root.styles.list.displayAge}}
              <div class="event-age">
                <p class="mb-3">De {{age.min}} à {{age.max}} ans</p> 
              </div>
            {{/if}}
          {{/if}}
          {{#if @root.styles.list.displayMore}}
            <div class="event-more">
              {{#each more}}
                <p class="mb-3">{{this.label}}: {{this.slug}}</p> 
              {{/each}}
            </div>
          {{/if}}
          <div class="event-location">
            {{#if @root.styles.list.defineLocation}}
              <p class="m-0">{{extractLocationLabel}} {{extractLocation}}</p> 
            {{else}}
            <p class="m-0">{{location.name}}, {{location.city}}</p> 
            {{/if}}
          </div>
        </div>
      </div>
    <script type="application/ld+json">
    {{{JSONLD}}}
    </script>
  </a>
</div>

<style>
  .line .img-container {
    @media (min-width: 768px) {
      max-height: {{#if @root.styles.list.displayMore}}260px{{else}}200px{{/if}};
    }
  }
</style>
