<div class="col-12 px-0 my-3 event-list-item {{#if @root.styles.noShadows}}ns-event-border{{else}}shadow{{/if}}">
  <a
    class="event-item"
    {{#if isPreview}}
    data-event-slug="{{slug}}"
    href="{{linkWithoutContext}}"
    {{slug}}
    {{else}}
      href="{{link}}"
    {{/if}}>
    {{#if image}}
      <div class="text-center img-cover-event-col" style='background-image:url({{image image}})'>
      </div>
    {{else}}
      <div class="text-center img-cover-event img-cover-event-empty">
      </div>
    {{/if}}
    {{#if featured}}
    <div class="featured">
      <p class="featured-text">À la une</p>
    </div>
    {{/if}}
    {{#if @root.styles.list.displayCategory}}
    <div class="category">
      <p class="category-text">{{extactCategory}}</p>
    </div>
    {{/if}}
      <div class="wbg px-4 py-3 text-event-cover-col">
        <div class='event-cover-row'>
          <p class="date primary-color">{{dateRange}}</p>
          {{#if @root.styles.list.displayDescription}}
            <h5 class='event-title-bold mb-md-3'>{{title}}</h5>
            <p class="event-description">{{description}}</p>
          {{else}}
            <h5 class='event-title mb-md-3'>{{title}}</h5>
          {{/if}}
          <div class="event-more">
            {{#if @root.styles.list.more}}
              <p class="m-0">{{extactMore}}</p> 
            {{else}}
            {{/if}}
          </div>
          <div class="event-location">
            {{#if @root.styles.list.defineLocation}}
              <p class="m-0">Lieu : {{extactLocation}}</p> 
            {{else}}
            <p class="m-0">{{location.name}}</p> 
            {{/if}}
          </div>
        </div>
      </div>
    <script type="application/ld+json">
    {{{JSONLD}}}
    </script>
  </a>
</div>
