{{#if isFirstPage}}
  <div class="row d-flex mt-2 mt-md-3 px-3 js_coeur" data-featured="{{#if hasActiveFilter}}0{{else}}1{{/if}}">
    <div class="col-12 d-flex title-section">
      <p class="mx-auto">À la une</p>
    </div>
    {{#each featuredEvents}}
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 featured-true list-unstyled js_progressive_load_disabled d-flex">
      <div class="col-12 px-0 my-3 event-list-item {{#if @root.styles.noShadows}}ns-event-border{{else}}shadow{{/if}}">
      <a
        class="event-item grid"
        {{#if isPreview}}
        data-event-slug="{{slug}}"
        href="{{linkWithoutContext}}"
        {{slug}}
        {{else}}
          href="{{link}}"
        {{/if}}>
        {{#if image.filename}}
          <div class="text-center img-container">
            {{#if @root.styles.useSrcSetImages}}
            <img
              class="img-fluid img-cover-event-col"
              src="https://img.openagenda.com/u/700x0/main/{{image.filename}}"
              sizes="(max-width: 575px) calc(100vw - 30px),
              (max-width: 767px) 351px,
              425px"
              srcset="https://img.openagenda.com/u/351x0/main/{{image.filename}} 351w,
                https://img.openagenda.com/u/425x0/main/{{image.filename}} 425w,
                https://img.openagenda.com/u/545x0/main/{{image.filename}} 545w,
                https://img.openagenda.com/u/702x0/main/{{image.filename}} 702w,
                https://img.openagenda.com/u/850x0/main/{{image.filename}} 850w,
                https://img.openagenda.com/u/1090x0/main/{{image.filename}} 1090w,
                https://img.openagenda.com/u/1050x0/main/{{image.filename}} 1050w,
                https://img.openagenda.com/u/1275x0/main/{{image.filename}} 1275w,
                https://img.openagenda.com/u/1635x0/main/{{image.filename}} 1635w"
              alt="{{event.description}}"
              height="auto"
            />
            {{else}}
            <img
              src="https://cdn.openagenda.com/main/{{image.filename}}"
              height="auto"
              alt="{{event.description}}"
            />
            {{/if}}
          </div>
        {{else}}
          {{#if defaultImage}}
            <div class="text-center img-container">
            <img
              class="img-fluid img-cover-event-col"
              src="../{{defaultImage}}"
              alt="{{event.description}}"
              height="auto"
            />
          </div>
          {{else}}
            <div class="text-center img-cover-event-empty">
            </div>
          {{/if}}
        {{/if}}
          <div class="wbg px-4 py-3 text-event-cover-col top-border">
            {{#if @root.styles.list.displayCategory}}
            <div class="category">
              <p class="category-text">{{extractCategory}}</p>
            </div>
            {{/if}}
            <div class='event-cover-row'>
              <p class="date primary-color">{{dateRange}}</p>
              {{#if @root.styles.list.displayDescription}}
                <h5 class='event-title-bold mb-md-3'>{{title}}</h5>
                <p class="event-description">{{description}}</p>
              {{else}}
                <h5 class='event-title mb-md-3'>{{title}}</h5>
              {{/if}}
              {{#if age}}
                {{#if @root.styles.list.displayAge}}
                  <div class="event-age">
                    <p class="m-0">De {{age.min}} à {{age.max}} ans</p>
                  </div>
                {{/if}}
              {{/if}}
              {{#if @root.styles.list.displayMore}}
                <div class="event-more">
                  <p class="m-0">{{extractMoreLabel}} {{extractMore}}</p>
                </div>
              {{/if}}
              <div class="event-location">
                {{#if @root.styles.list.defineLocation}}
                  <p class="m-0">{{extractLocationLabel}} {{extractLocation}}</p>
                {{else}}
                <p class="m-0">{{location.name}}, {{location.city}}</p>
                {{/if}}
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
    {{/each}}
    <div class="col-12 d-flex title-section mt-5">
      <p class="mx-auto">Tous les événements</p>
    </div>
  </div>
{{/if}}
