<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{#if @root.config.agendaNoIndex}}
    <meta name="robots" content="noindex nofollow">
    {{else}}
    <meta name="robots" content="index, follow">
    {{/if}}
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    {{#each stylesheets}}
    <link rel="stylesheet" href="{{href}}" />
    {{/each}}
    <link rel="stylesheet" href="{{@root.styles.externeCssLink}}" />
    {{#each scripts.top}}
    <script src="{{src}}"></script>
    {{/each}}

    <link 
      rel="preload" 
      href="/fontawesome.css" 
      as="style"
      onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
      <link
        rel="stylesheet"
        href="/fontawesome.css">
    </noscript>
    <link
      rel="preload"
      href="/leaflet.css"
      as="style"
      onload="this.onload=null;this.rel='stylesheet'"
    />
    <noscript>
      <link
        rel="stylesheet"
        href="/leaflet.css"
      />
    </noscript>
    <script src="/leaflet.js"></script>
    <script src="/jquery.min.js"></script>
    <script src="/popper.min.js"></script>
    <script src="/bootstrap.min.js"></script>

    {{>configurableStyles}}
      
    <meta property="og:site_name" content="{{agenda.title}}">
    {{#if event.title}}
    <title>{{agenda.title}} - {{event.title}}</title>
    <meta name="title" content="{{agenda.title}} - {{event.title}}">
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{agenda.title}} - {{event.title}}">
    <meta property="og:url" content="{{event.permalink}}">
    <meta property="og:image" content="{{image event.image}}">
    {{else}}
    <title>{{agenda.title}}{{#if agenda.description}} - {{agenda.description}}{{/if}}</title>
    <meta name="title" content="{{agenda.title}}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{agenda.title}} - {{agenda.description}}">
    <meta property="og:url" content="{{root}}">
    {{#if agenda.image}}
    <meta property="og:image" content="{{agenda.image}}">
    {{/if}}
    {{/if}}
    {{#if event.description}}
    <meta name="description" content="{{event.description}}">
    <meta property="og:description" content="{{event.description}}">
    {{else}}
    <meta name="description" content="{{agenda.description}}">
    <meta property="og:description" content="{{agenda.description}}">
    {{/if}}
  </head>
  <body>
