{{>layout.top}}
{{>head tagName="h1"}}
<div class="shadow">
  {{>navigation}}
</div>
<div class="{{#if @root.styles.noMargin}}{{else}}container{{/if}} event-page">
  <div class="row col-12 py-5 m-0 {{#if @root.styles.noMargin}}px-0{{else}}{{/if}}">
    {{#if @root.styles.event.displayInfos}}
    <div class="col-md-4 order-12 mr-0 px-3">
      <div class="share-buttons">
        {{>event/share}}
      </div>
      {{>event/registration}}
      {{>event/timings}}
      {{>event/map}}
    </div>
    {{/if}}
    <div class="col-sm-4 order-sm-12 d-none">
      <div class="share-buttons">
        {{>event/share}}
      </div>
      {{>event/registration}}
      {{>event/timings}}
      {{>event/map}}
    </div>

    <div class="col order-sm-1 px-3">

      <div>
        <h1>{{event.title}}</h1>
      </div>
      {{#if event.description}}
        <p class="event-description">{{event.description}}</p>
      {{/if}}
      {{#if event.image}}
      <div class="text-center">
        <img class="img-fluid shadow" src="{{event.image.base}}{{event.image.filename}}" alt="{{event.description}}" />
      </div>
      {{/if}}   
      {{#if event.longDescription}}
      <div class="event-text">
        {{{mdToHtml event.longDescription}}}
      </div>
      {{/if}}

      <div class="event-details shadow">
        {{#if event.conditions}}
        <div class="conditions mb-3 d-flex align-items-baseline"><img class="details-icon my-auto" src="/Conditions.svg" alt="icône prix">{{event.conditions}}</div>
        {{/if}}
        <div class="range mb-3 d-flex align-items-baseline"><img class="details-icon my-auto" src="/Calendrier.svg" alt="icône horaire">{{event.dateRange}}</div>
        <div class="location mb-1 d-flex align-items-baseline"><img class="details-icon my-auto" src="/Location.svg" alt="icône lieu">{{event.location.name}}, {{event.location.address}}</div>
        {{#if event.registrationPhone}}
        <div class="phone mb-3 d-flex align-items-baseline"><img class="details-icon my-auto" src="/Phone.svg" alt="icône prix">{{event.registrationPhone}}</div>
        {{/if}}
        {{#if event.registrationEmail}}
        <div class="email mb-3 d-flex align-items-baseline"><img class="details-icon my-auto" src="/Email.svg" alt="icône prix">{{event.registrationEmail}}</div>
        {{/if}}
      </div>
      
    </div>
  </div>
</div>

<script type="application/ld+json">
{{#if event.timing}}
{{{event.timing.JSONLD}}}
{{else}}
{{{event.JSONLD}}}
{{/if}}
</script>
{{>layout.bottom}}

<script>
$("a").click(function() {
   link.location = $(this).find("a").attr("href");
});
</script>