{{>layout.top}}
{{>head tagName="h1"}}
<div {{#unless @root.styles.noShadows}}class="shadow"{{/unless}}>
  {{>navigation}}
</div>
<div class="{{#if @root.styles.noMargin}}{{else}}container p-0{{/if}} event-page">
  <div class="row col-12 py-5 m-0 p-0{{#if @root.styles.noMargin}}px-0{{else}}{{/if}}">
    {{#if @root.styles.event.displayInfos}}
    <div class="col-md-4 order-12 mr-0 pl-0 pl-md-3 pr-0">
      <div class="share-buttons">
        {{>event/share}}
      </div>
      {{>event/registration}}
      {{#if @root.config.displayDate}}
      {{else}}
        {{>event/timings}}
      {{/if}}
      {{>event/map}}
    </div>
    {{/if}}
    <div class="col-sm-4 order-sm-12 d-none">
      <div class="share-buttons">
        {{>event/share}}
      </div>
      {{>event/registration}}
      {{>event/timings}}
      {{#if event.location}}
      {{>event/map}}
      {{/if}}
    </div>

    <div class="col order-sm-1 pr-0 pr-md-3 pl-0 text-center">

      <div class="text-left">
        <h1>{{event.title}}</h1>
      </div>
      {{#if event.description}}
        <p class="event-description text-left">{{event.description}}</p>
      {{/if}}
      {{#if event.image}}
      <div class="image-container">
        {{#if @root.styles.useSrcSetImages}}
        <img
          class="img-fluid {{#unless @root.styles.noShadows}}shadow{{/unless}}"
          src="https://img.openagenda.com/u/700x0/cibul/{{event.image.filename}}"
          sizes="(min-width: 992px) 700px,
                (min-width: 768px) 624px,
                (max-width: 767px) calc(100vw - 30px)"
          srcset="https://img.openagenda.com/u/624x0/cibul/{{event.image.filename}} 624w,
                  https://img.openagenda.com/u/700x0/cibul/{{event.image.filename}} 700w,
                  https://img.openagenda.com/u/737x0/cibul/{{event.image.filename}} 737w"
          alt="{{event.description}}"
          height="auto"
        />
        <div class="credit d-flex justify-content-end">
          <p class="m-0">{{event.imageCredits}}</p>
        </div>
        {{else}}
        <img
          class="img-fluid {{#unless @root.styles.noShadows}}shadow{{/unless}}"
          src="https://cibul.s3.amazonaws.com/{{event.fullImage}}"
          alt="{{event.description}}"
          height="auto"
        />
        {{/if}}
      </div>
      {{/if}}   
      {{#if event.longDescription}}
      <div class="event-text text-left">
        {{{event.longDescription}}}
      </div>
      {{/if}}

      <div class="event-details text-left{{#if @root.styles.noShadows}} p-noshadow{{else}} shadow{{/if}}">
        {{#if event.conditions}}
        <div class="conditions mb-3 d-flex align-items-baseline"><img class="details-icon my-auto" src="/Conditions.svg" alt="icône prix">{{event.conditions}}</div>
        {{/if}}
        {{#if event.age}}
        <div class="age mb-3 d-flex align-items-baseline"><img class="details-icon my-auto" src="/Age.svg" alt="icône age">De {{event.age.min}} à {{event.age.max}} ans</div>
        {{/if}}
        {{#if @root.config.displayDate}}
        {{else}}
          <div class="range mb-3 d-flex align-items-baseline"><img class="details-icon my-auto" src="/Calendrier.svg" alt="icône horaire">{{event.dateRange}}</div>
        {{/if}}
        {{#if event.fullAddress}}
        <div class="location mb-3 d-flex align-items-baseline"><img class="details-icon my-auto" src="/City.svg" alt="icône lieu">{{event.fullAddress}}</div>
        {{/if}}
        {{#if event.registration.phone.[0].value}}
        <div class="phone mb-3 d-flex align-items-baseline"><img class="details-icon my-auto" src="/Phone.svg" alt="icône phone"><a href="tel:{{event.registration.phone.[0].value}}" target="_blank">{{event.registration.phone.[0].value}}</a></div>
        {{/if}}
        {{#if event.registration.email.[0].value}}
        <div class="email mb-3 d-flex align-items-baseline"><img class="details-icon my-auto" src="/Email.svg" alt="icône email"><a href="mailto:{{event.registration.email.[0].value}}" target="_blank">{{event.registration.email.[0].value}}</a></div>
        {{/if}}
        {{#if event.registration.link.[0].value}}
        <div class="link mb-3 d-flex align-items-baseline"><img class="details-icon my-auto" src="/Link.svg" alt="icône link"><a href="{{event.registration.link.[0].value}}" target="_blank">{{event.registration.link.[0].value}}</a></div>
        {{/if}}
      </div>
      {{#if @root.config.additionalFields.displayAdditionalFieldsEvent}}
        <div class="additional-fields text-left{{#if @root.styles.noShadows}} p-noshadow{{else}} shadow{{/if}}">
          {{#if @root.config.additionalFields.selectedAdditionalField}}
            {{#each event.additionalFieldsSelected}}
              {{> renderAdditionalFields this}}
            {{/each}}
          {{else}}
            {{#each event.additionalFieldsFormatted}}
              {{> renderAdditionalFields this}}
            {{/each}}
          {{/if}}
        </div>
      {{/if}}

    </div>
  </div>
</div>

<script type="application/ld+json">
{{#if event.timing}}
{{{event.timing.JSONLD}}}
{{else}}
{{{event.JSONLD}}}
{{/if}}
</script>
{{>layout.bottom}}

<script>
$("a").click(function() {
   link.location = $(this).find("a").attr("href");
});
</script>