{{>layout.top}}

{{>head tagName="h1"}}

{{#if @root.config.featured.featuredSection}}
  {{#if hasFeaturedEvents}}
    {{>featured}}
  {{/if}}
{{/if}}

{{>sidebar}}

<div class="container-list {{#if @root.styles.noMargin}}px-3{{else}}container{{/if}}">
  <div class="total-filter px-0">
    <div class="row">
      <div class="col-12 col-md-5 order-md-last pb-3 pb-md-0 ">
        {{#if @root.styles.noButton.export}}
        {{else}} 
          <div class="col-12 d-md-flex justify-content-end p-0 export">
            {{>export}}
          </div>
        {{/if}}

        {{#if @root.styles.noButton.contribute}}
        {{else}} 
          <div class="col-12 d-md-flex justify-content-end p-0 contribute">               
            {{>contribute}}
          </div>
        {{/if}}
      </div>

      <div class="col-12 col-md-7 total my-auto d-flex">
        {{i18n 'eventsTotal' total=total totalLabel=totalLabel totalLabelPlural=totalLabelPlural}} 
        <span class="mx-2">-</span>
        <div class="btn-total d-inline-block">
          {{#customFilter
          query=(object relative=(array 'passed' ))
          activeClass='active'
          inactiveClass='inactive'
          className='checkbox'
          }}
          <label class="passed my-auto">
            {{i18n 'showPastEvents' totalLabelPlural=totalLabelPlural}}
          </label>
          <label class="upcoming my-auto">
            {{i18n 'showUpcomingEvents' totalLabelPlural=totalLabelPlural}}
          </label>
          {{/customFilter}}
        </div> 
      </div>
    </div>

    {{#if agenda.noEvents}}
      <p>{{agenda.noEvents}}</p>
    {{/if}}

    {{widget name='activeFilters' className='active-filters'}}

    <!--<button class="main-show-sidebar float-right btn btn-outline-primary btn-sm wbg" data-sidebar-toggle>
      <i class="fa fa-plus"></i>
      {{i18n 'filters'}}
    </button>-->
  </div>

  <div class="events">
    {{>list}}
  </div>

</div>

{{#if @root.styles.footer.linkOa}}
  <div class="col-12 d-sm-flex justify-content-center p-0 powered">               
    {{>powered}}
  </div>
{{/if}}

<div data-oa-filters-root></div>

{{>layout.bottom}}
